EXPO_PUBLIC_SUPABASE_URL=https://lmtwmnvnzizmkfotnymz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=<anon_key>
EXPO_PUBLIC_REVENUECAT_IOS_KEY=<revenuecat_ios_key>
EXPO_PUBLIC_AMPLITUDE_API_KEY=<amplitude_key>
